table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid grey;
    width: 2em;
    text-align: center;
    position: relative;
}

@keyframes writing {
    from { background-color: green; }
    to   { background-color: lightgreen; }
}
