pre {
    margin-top: 0;
    margin-bottom: 2em;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid grey;
    width: 2em;
    text-align: center;
    position: relative;
    transition: left 1s;
}

td.sliding {
    left: 0px !important;
}

@keyframes writing {
    from { background-color: green; }
    to   { background-color: lightgreen; }
}
